.QA-Container{
    height: 383px;
    top: 0;
    left: 0;
    background: url(../../assets/images/Contactus/picture.png)
      no-repeat center;
    background-size: cover;
}
.QA-ra1{
    width: 100%;
    position: absolute;
    height: 383px;
    background: rgba(30, 30, 30, 0.85);
}
.QA-ra1:hover{
  background: rgba(30, 30, 30, 0.6);
}

.tabs button {
  background-color: white;
  border: 5px solid #ffb400;
  padding: 10px 155px;
  cursor: pointer;
  color: #ffb400;
}
  
  .tabs button.active {
    background-color: #ffb400;
    color: white;
  }

  .QA-tab {
    display: flex;
    justify-content: center;
}
.tab-content {
  margin-top: 40px;
}
.tabcontent1__Q  {
  padding-left: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: rgba(255, 180, 0, 0.5);
  height: 54.88px;
}
.tabcontent__A {
  font-weight: 400;
  font-size: 15px;
  margin-top: 8px;
  padding-left: 80px;
  height: 80px;
}
  